@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2 style="color: #b33a1d; font-weight: bold;">Ustawienia konta</h2>

<div>
    <h4>Zmień ustawienia konta oraz dodawaj nowe linki</h4>
    <hr />
    <div class="linkBox" style="padding: 25px;">
        <div class="row">
            <div class="col-md-3 manageMenu">
                @await Html.PartialAsync("_ManageNav")
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
        
