@model LinksAggregator.Models.ViewModels.ManageViewModels.AddingNewLinkViewModel

@{
    ViewData["Title"] = "Dodaj link";
    ViewData.AddActivePage(ManageNavPages.AddLink);
}

<div class="row">
    <div class="col-md-6" style="padding-left:40px;">
        <form method="post" asp-controller="Manage" asp-action="AddLink">
            
            <div class="form-group">
                <label asp-for="Title"></label>
                <input class="form-control" asp-for="Title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrlAddress"></label>
                <input class="form-control" asp-for="UrlAddress" placeholder="https://example.com" />
                <span asp-validation-for="UrlAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea class="form-control" asp-for="Description" placeholder="Max 500 znaków"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <input type="submit" value="Dodaj" class="btn btn-primary" />

        </form>

    </div>
</div>

